body {
	background	: #eee;
	color		: #333;
	font-size	: 100%;
	margin		: 0px;
	padding		: 0px;
}
#navigatie {
    background: #d495fd;
    float: right;
    padding: 0.1em;
    width: 12em;
}
#kop{
    background: green;
    color: #fdba79;
    font-size: 300%;
    font-variant: small-caps;
    text-align: center;
}
#terzijde {
    background: #d495fd;
    float: left;
    padding: 0.1em;
    width: 12em;
}
#voet {
    background: green;
    clear: both;
    color: : #fdba79;
    font-size: 90%;
    padding: 0.2em;
    
}
#inhoud {
    float: none
}