.taal{
    background-color: transparent;
    
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: dimgrey;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: dimgrey;
}

li a:hover:not(.active) {
    background-color:#ff9900;
}

.active {
    background-color:#333;
}

@media screen and (max-width: 900px)
{
ul li 
    {
        width: 100%;        
    } 
    
}