#grootvierkant{
    background-color: grey;
    color: white;
    position: absolute;
    left: 100px;
    top: 100px;
    width: 600px;
    height: 600px;

    
    }
#vierkant1 {
    background-color : green;
    color: white;
    float: left;
    width: 250px;
    height: 250px;
    position: absolute;
    left: 50px;
    top: 50px;
        
}
#vierkant2{
     background-color: blue;
    color: white;
    float: right;
    width: 250px;
    height: 250px;
    position: absolute;
    right: 50px;
    top: 50px;
    
}
#vierkant3{
     background-color: red;
    color: white;
    float: left;
    width: 250px;
    height: 250px;
    position: absolute;
    left: 50px;
    bottom: 50px;
}
#vierkant4 {
     background-color: yellow;
    color: white;
    float: right;
    width: 250px;
    height: 250px;
    position: absolute;
    right: 50px;
    bottom: 50px;
}
h1 {line-height: 220px;
text-align: center;}