html {
    background-image: url(images/a.jpg);
	background-attachment: fixed;
	background-repeat:no-repeat;
	background-size:cover;
    }
body {
    background-color: white;
    border: 2px solid black;
    border-radius: 25px;
    width: auto;
    padding:20px white;
    text-align: center;
    margin: :auto;
    margin-top:auto;
	margin-left: auto ;
	margin-right: auto ;
    border-image: linear-gradient(to right, rgba(54,140,245,1) 0%, rgba(57,201,245,1) 25%, rgba(240,174,93,1) 54%, rgba(230,122,28,1) 79%, rgba(240,47,23,1) 100%);
	border-image-slice: 1;
	transition:all 0.6s ease;
	opacity:0.80;
 }